
    main {
        font-family: sans-serif;
        background: white;
        text-align: center;
}

body{
    margin:0;
    padding-top: 60px;
}

.navbar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 60px;
    background: #132038;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.nav-btn{
    color: #dbebff;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.nav-btn:hover{
    background-color: #424d61;
}

.logo{
    font-size: 20px;
    font-weight:  bold;    
}

.logo-small{
    font-size: 10px;
}

.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span{
    width: 25px;
    height: 3px;
    background: white;
}

.catch{
    
    background: url("images/baseball.jpg") center/cover no-repeat;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 200px;
    position: relative;
    min-height: 60vh;
    clip-path: polygon(0 0, 100% 0, 100% 85%,0 100%);
}

.catch::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);   
    z-index: 1;
}

.catch *{
    z-index: 1;
}

.catch-title{
    font-size: clamp(32px,6vw,64px);
    left: 20%;
    margin: 0;
}

.catch-sub{
    font-size: 18px;
    margin-top: 20px;
    opacity: 0.8;
}

.catch-count{
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 8px 16px;
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.meeting{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 80px 8%;
}

.meeting-img{
    width: 1000px;
    max-width: 50%;
    border-radius: 12px;
}

.meeting-text{
    max-width: 800px;
}

.meeting-text h1{
    font-size: 32px;
    margin-bottom:  20px;
    text-align: left;
    color: #132038;
}

.meeting-text p{
    text-align: left;
}

.meeting-title{
    color: #f0580c;
}

.meeting-image-card{
    position: relative;
    display: inline-block;
    overflow:visible;
    transform: rotate(5deg);
    transition: transform 0.6s cubic-bezier(0.22,1,0.36,1);
    padding : 20px 0px;
}

.meeting-image-card:hover{
    transform: rotate(0deg);
}

.meeting-image-card img{
    width: 2000px;
    display: block;
}


.meeting-image-text{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background: rgba( 0 ,0,0 ,0.5);
    padding: 6px 10px;
    border-radius: 8px;
    border: black;
    
}

.meeting-image-text-sub{
    font-size: 10px;
    padding: 2px;
    text-shadow: black;
}

.sub-page-title{
    font-size: clamp(32px,6vw,48px);
    left: 20%;
    margin: 0;
    margin-top: 80px;
}

.greeting{
    background:white;
    border-radius:12px;
    box-shadow: 0px -5px 2px rgba(0,0,0,0.5);
    padding:40px;
    
    display:flex;
    gap:50px;

    max-width:1200px;
    margin:0 auto;
    margin-top: 5%;
    min-height: 50vh;
}

.greeting-left{
    width: 500px;
    border-radius: 10px;
}

.representative-img{

        width:100%;
    border-radius:10px;
}

.presenter-name{
    font-size: 25px;
}

.person-title{
    font-size: 20px;
}

.greeting-right{
    flex:1;
    text-align:left;
}

.greeting-title{
    font-size:30px;
    border-bottom:3px solid #e95c2b;
    padding-bottom:10px;
    margin-bottom:20px;
}

.sign{
    text-align:right;
}

.tornament-purpose{
    background:white;
    border-radius:12px;
    padding:30px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
        max-width:1200px;
    margin:0 auto;
    margin-bottom:40px;
    
}

.purpose-title{
    
    display:flex;
    align-items:center;
    gap:10px;
    color:#e65500;
}

.purpose-title i{
    font-size:20px;
}

.info-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
        max-width:1200px;
    margin:0 auto;
    padding: 30px;
}

.info-card{
    background:white;
    border-radius:12px;
    padding:30px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.info-card h3{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:15px;
}

.info-card i{
    color:#e65500;
}

.date{
    font-weight:bold;
}

.note{
    font-size:12px;
    color:#666;
}

.info-other{
    background:white;
    border-radius:12px;
    padding:30px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    max-width:1200px;
    margin:0 auto;
    margin-bottom:40px;
    display: grid;
    grid-template-columns:1fr 1fr;
    
}

.other-card{

    max-width: 500px;
}

.other-card h3{
    align-items:center;
    gap:10px;
    margin-bottom:15px;
}

.team-grid{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
    margin-top:40px;
    max-width:1200px;
    margin:0 auto;
}

.team-card{
background:white;
border-radius:12px;
padding:20px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.team-card img{
width:100%;
height:150px;
object-fit:cover;
border-radius:8px;
margin-bottom:10px;
}

.tournament-format{
        display: grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
    margin-top:40px;
    max-width:1200px;
    margin:0 auto;
}

.format-card{
    background:white;
border-radius:12px;
padding:20px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.tab-buttons{
display:inline;
gap:10px;
margin-bottom:20px;

}

.tab-btn{
padding:10px 20px;
border:none;
background:#ddd;
cursor:pointer;
border-radius:6px;

}

.tab-btn.active{
background:#132038;
color:white;
}

.tab-content{
display:none;

}

.tab-content.active{
display:block;
}

.schedule-card{
    background:white;
    border-radius:12px;
    padding:30px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
        max-width:1200px;
    margin:0 auto;
    margin-bottom:40px;
    
}

.schedule-grid{
    display: grid;
    grid-template-columns:1fr;
    gap:30px;
    margin-top:40px;
    max-width:1200px;
    margin:0 auto;
}

.schedule-time-card{
    padding:10px 20px;
border:none;
background:#ddd;
cursor:pointer;
border-radius:6px;
text-align: left;
font-size: 20px;
}

.schedule-infomation{
    background:rgba(255, 153, 30, 0.5);
    padding:30px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
        max-width:1200px;
    margin:0 auto;
    margin-bottom:40px;
text-align: left;
font-size: 20px;
}

.rule-infomation{
        background:white;
    padding:30px;
        border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
        max-width:1200px;
    margin:0 auto;
    margin-bottom:40px;
    text-align: left;
}

.rule-infomation p{
font-size: 20px;
}


@media (max-width:768px){

.catch{
    padding-left:20px;
    padding-right:20px;
}
.catch-title{
    font-size: 28px;
}

.catch-sub{
    font-size:14px;
}

.meeting{
    flex-direction:column;
    gap:40px;
    padding:40px 20px;
}

.meeting-text h1{
    font-size:24px;
}

.meeting-image-card{
    transform:none;
}

.meeting-image-card img{
    width:100%;
}

.nav-menu{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #132038;

    display: flex;
    flex-direction: column;

    transform: translateY(-200%);
    transition: 0.3s;
}

.nav-menu.active{
    transform: translateY(0);
}

.nav-btn{
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.hamburger{
    display: flex;
}

.greeting{
    flex-direction:column;
padding:25px;
gap:30px;
}

.greeting-left{
    width: 100%;
}

.presenter-name{
font-size:20px;
}

.person-title{
font-size:16px;
}

.greeting-title{
font-size:22px;
}

.info-grid{
grid-template-columns:1fr;
padding:20px;
}

.info-other{
grid-template-columns:1fr;
gap:20px;
}

.team-grid{
grid-template-columns:1fr;
}

.team-card img{
height:200px;
}

.tournament-format{
grid-template-columns:1fr;
}

.schedule-time-card{
font-size:16px;
}

.schedule-infomation{
font-size:16px;
padding:20px;
}

.rule-infomation p{
font-size:16px;
}

.tab-buttons{
display:flex;
justify-content:center;
}

.tab-btn{
flex:1;
}

}